.example-form {
    min-width: 150px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.kt-pointer {
    cursor: pointer;
}

.kt-remove-input-value {
    position: relative;
    float: right;
    margin-top: -40px;
    color: red;
    cursor: pointer;
}
