
<button mat-raised-button color="primary" (click)="addtask('add')" class="aligment-button">Add Task</button>
<mat-form-field appearance="standard">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <mat-table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="Title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Title}} </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="CustomerName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.LeadName}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="AssignedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> AssignedBy </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.AssignedByUserName}} </mat-cell>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="AssignedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> AssignedDate </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.CreateDate | date : 'dd MMM yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="DueDate">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
        <mat-cell  *matCellDef="let row"> {{row.TaskEndDate | date : 'dd MMM yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Priority">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Priority}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell  *matCellDef="let row" [ngStyle]="{'color': (row.TaskStatus == 100) ? 'green' : (row.TaskStatus == -1) ? 'red' : (row.TaskStatus == 0) ? 'orange' :(row.TaskStatus > 0 && row.TaskStatus < 100) ? 'blue': ''}">
          <div *ngIf="row.TaskStatus == 0">Accepted</div>
          <div *ngIf="row.TaskStatus == -1">Not Accepted</div>
          <div *ngIf="row.TaskStatus > 0 && row.TaskStatus < 100">Partial Complete
              ({{row.TaskStatus}}%)</div>
          <div *ngIf="row.TaskStatus == 100">Completed</div>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
        <mat-cell *matCellDef="let row">
        <button (click)="deleteTask(row.TaskId)" mat-raised-button color="primary">Delete Task</button>
       </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
      <!-- Row shown when there is no matching data. -->
      <mat-row *matNoDataRow>
        <mat-cell colspan="4">No data matching the filter "{{input.value}}"</mat-cell>
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>